
/* src/SignUp.css */
.signup-container {
    max-width: 400px;
 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;

  }
  
  h2 {
    margin-bottom: 20px;
    direction: ltr;
    // text-align: center;
    margin-right: 78%;

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;

  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl;
  }
  
  button {
    width: 100%;
    padding: 10px;

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  

  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -7px;
    margin-right: 54%;
  }
  