@import './variables.scss';


.buttonWrapper {
    .genericButton, .genericIconButton {
        font-family: $font-family;
        border-radius: 1em;
        border: 2px solid $secondary-color;

        &.primary {
            background-color: $primary-color;
            color: white;
        }

        &.secondary {
            background-color: white;
            color: $primary-color;
        }
    }
}

