@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import './style.scss';
.genericButton{
    font-family: "Nanum Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 1px  solid rgb(103, 252, 210);
    width: 30vh;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2); 
    transition: transform 0.1s, box-shadow 0.1s;
    &:hover {
        box-shadow: 0 0 5px rgba($color-border, 0.5);
        background-color:$color-border-hover ;
        transition: color 0.3s ease;
  
    }
    
}

.clickButton{
    box-shadow: 0 0 5px rgba($color-border, 0.5);
    background-color:$color-border-hover ;
    transition: color 0.3s ease; 
}

.tab{
    border: 2px;
    border-style: solid;
    border-color: rgb(103, 252, 210);
    width: 100vh;
    height: 65vh;
    display: flex;
    justify-content: center;
}

.tab-warper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

.elments{
    padding: 3%;
    width: 60%;
}