@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import './style.scss';
.genericButton{
    font-family: "Nanum Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 1px  solid rgb(103, 252, 210);
    width: 25vh;
    text-align: center;
    cursor: pointer;
   // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* 3D effect shadow */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.2); /* Outer shadow and subtle inner highlight */
    transition: transform 0.1s, box-shadow 0.1s; /* Smooth transition for interactions */ 
    
    &:hover {
        box-shadow: 0 0 5px rgba($color-border, 0.5);
        background-color:$color-border-hover ;
        transition: color 0.3s ease;
  
    }
    
}

.clickButton{
    box-shadow: 0 0 5px rgba($color-border, 0.5);
    background-color:$color-border-hover ;
    transition: color 0.3s ease; 
}

.tab{
    border: 2px;
    border-style: solid;
    border-color: rgb(103, 252, 210);
    width: 100vh;
    height: 75vh;
}
.tab-warper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}