// צבעים
$background-color: #f0f4f8;
$primary-color: #ff6b6b;
$text-color: #333;
$button-color: #fff;
$button-background: radial-gradient(circle, rgb(225, 235, 237) 0%, rgb(145, 171, 177) 100%);
$button-hover-background: radial-gradient(circle, rgb(91, 219, 236) 100%), rgb(125, 240, 228) 0%;
$button-hover-color: #ffffff;

// גופני כתיבה
$font-family-primary: "Arial", sans-serif;
$font-family-secondary: "Lato", sans-serif;
