:root {
  --background-color: #F0F0F0;
  --container-background: #FFFFFF;
  --button-background: #007BFF;
  --button-background-hover: #0056b3;
  --text-color: #FFFFFF;
  --border-color: #ccc;
  --list-background: #F8F9FA;
  --list-border: #DEE2E6;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.container {
  text-align: center;
  background-color: var(--container-background);
  border-radius: 2%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5%;
  width: 80%;
}

button {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 2%;
  padding: 2.5% 5%;
  margin: 1%;
  cursor: pointer;
  font-size: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-background-hover);
}

form {
  margin: 5% 0;
}

input[type="text"] {
  padding: 2%;
  border: 1px solid var(--border-color);
  border-radius: 2%;
  width: 80%;
  margin: 1% 0;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--button-background);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: var(--list-background);
  border: 1px solid var(--list-border);
  border-radius: 2%;
  padding: 2.5%;
  margin: 1% 0;
}
