@import '../variables.scss';
.selectWrapper {
  font-family: 'Nanum Gothic', sans-serif;

  .genericSelect {
    &.primary {
      background-color: white;
    }

    &.secondary {
      background-color: $secondary-color;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color:$secondary-color;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color:$secondary-color;
    }

    .MuiOutlinedInput-notchedOutline {
      border-width: 2px;
      border-color:$secondary-color;

      legend {
        width: auto; 
      }
    }

    .MuiSelect-root {
      font-family: 'Nanum Gothic', sans-serif; 
    }
  }

  .MuiInputLabel-root {
    font-family: 'Nanum Gothic', sans-serif; 

    &.Mui-focused {
      color:$primary-color;
    }
  }

  .MuiMenuItem-root {
    font-family: 'Nanum Gothic', sans-serif; 

  
  }
}
.img {
  width: 23px; 
  height:23px;
  margin-right: 3px; 
}