.centered-container {
    width: 100%;
    margin-left: 2%;
  }
  
  .password-strength-meter {
    height: 10px;
    border-radius: 5px;
    right: 3%;
    background-color: #D3D3D3;
  
    &.weak {
      & .MuiLinearProgress-bar {
        background-color: red;
      }
    }
  
    &.medium {
      & .MuiLinearProgress-bar {
        background-color: orange;
      }
    }
  
    &.strong {
      & .MuiLinearProgress-bar {
        background-color: green;
      }
    }
  }
  
  .password-strength-message {
    margin-top: 1px;
    margin-right: 34%;
    font-size: small;
  }