@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$color-border: rgb(61, 192, 155);
$color-border-hover: rgb(45, 158, 126);
$color-error: red;
$color-black: black;

.profile-picture-container {
    position: relative;
    width: 150px; // Adjust size as needed
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $color-border;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .profile-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}  
.font{
    font-family: 'Montserrat', sans-serif;

}