.display-settings {
    .select-container {
      margin-bottom: 20%;
      
      .select-theme,
      .select-notifications-location {
        width: 100%;
        
        .select-dropdown {
          width: 100%;
        }
  
        .select-label {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  