@import './variables.scss';

.notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing ; 
  max-width: $max-width;

  .display-checkboxs,
  .select-container,
  .input-container,
  .file-container {
    width: $max-width;
    max-width: $max-width;
    margin-bottom: $spacing *1.5; 
  }
  .but-send {
    margin-top: $spacing * 5; 
  }
  .file-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: $max-width;
    max-width: $max-width;
    margin-bottom: $spacing ;
  
    .generic-input-file, 
    .audio-player {
      width: 100%; 
      max-width: 20rem; 
      margin-bottom: $spacing; 
    }
  
    .audio-player {
      margin-top: $spacing; 
    }
  }
  
}

@media (max-width: $breakpoint-mobile) {
  .select-container,
  .input-container,
  .file-container,
  .audio-player {
    max-width: $max-width;
  }

  .but-send {
    width: $max-width;
  }
}
