.notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%; 
  max-width: 100%;

  .select-container, .input-container, .file-container {
    width: 100%;
    max-width: 100%; 
    margin-bottom: 5%; 
  }

  .audio-player {
    width: 50%;
    max-width: 100%; 
    margin-top: 2%; 
  }

  .but-send {
    margin-top: 5%; 
  }
}

@media (max-width: 600px) {
  .select-container, .input-container, .file-container, .audio-player {
    max-width: 100%;
  }

  .but-send {
    width: 100%;
  }
}
