.preferences-container {
  display: flex;
  flex-direction: column;
  align-items: center; // Centers items horizontally
  justify-content: center; // Centers items vertically
  padding: 5%; // Adjust padding as needed
  
  .select-class,
  .select-time-zone,
  .select-date-format {
    width: 100%; // Ensures full width within container
    max-width: 210px; // Limits width of select elements to match provided width
    margin-bottom: 5%; // Adjust spacing between selects
  }
}

@media (max-width: 600px) {
  .preferences-container {
    padding: 3%; // Adjust padding for smaller screens if needed
  }

  .select-class,
  .select-time-zone,
  .select-date-format {
    max-width: 100%; // Ensures select elements fit smaller screens
  }
}
