$padding-large: 5%;
$padding-small: 3%;
$max-width-select: 50rem;
$margin-select: 4%; 


.preferences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-large;

  .div-select {
    display: flex;            
    justify-content: center;    
    width: 100%;
    max-width: $max-width-select;
    margin: $margin-select 0;   
  }

  .select-language,
  .select-time-zone,
  .select-date-format {
    width: 100%;
  }
}

@media (max-width: 37.5rem) {
  .preferences-container {
    padding: $padding-small;
  }

  .select-language,
  .select-time-zone,
  .select-date-format {
    max-width: 100%; 
  }
}
