@import './variables.scss';

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tabs-container {
    width: $max-width;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: $max-width;
    margin-top: $spacing * 1.25;
  }
}