$padding-large: 5%;
$padding-small: 3%;
$max-width-select: 50rem;
$margin-select: 4%; 
$spacing: 1rem;
$max-width: 100%;
$breakpoint-mobile: 37.5rem;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');