@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$fontfamily:'Montserrat', sans-serif;
$color-border: rgb(103, 252, 210);
$color-border-hover: rgb(45, 158, 126);
$color-error: red;
$color-black: black;
