@import '../variables.scss';

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $standardInfoColor;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px $primary-color;
  }
  
  .modal-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-button {
    background-color: $primary-color;
    border: none;
    color: $standardInfoColor;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button.close {
    background-color: $secondary-color;
  }
  