@import '../variables.scss';

.popup-body {
  width: max-content;
  padding: 12px 16px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid ;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  z-index: 1;

  &[data-theme='dark'] {

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  }
}

.button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;

  &:active {
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;

  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
  }
}

