.dateTime .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(72, 245, 193);
}

.dateTime .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(72, 245, 193);
}

.dateTime .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgb(72, 245, 193);
}

.dateTime .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-width: 2px; 
  border-style: solid; 
  transition: border-color 0.3s ease; 
}
.dateTime{
  width: 500px;
}