@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
$hover-color:rgb(45, 158, 126);
$primary-color-home:rgb(103, 252, 210);
$standardSuccessColor:rgba(229, 245, 233, 0.8);
$standardErrorColor:rgba(254, 226, 226, 0.8);
$standardWarningColor:#ffffe0;
$standardInfoColor:rgba(224, 242, 241, 0.8);
$primary-color: black;
$secondary-color: rgb(103, 252, 210);
$errorColor:red;
$background-class: #ffffff;
$black-color: #000000;
$color-black: black;
$color-border-hover: rgb(45, 158, 126);
$color-border: rgb(61, 192, 155);
$color-error: red;
$font-family-primary: 'Nanum Gothic', sans-serif;
$light-black: rgba(0, 0, 0, 0.1);
$secondary-color-hard:rgba(72, 245, 193, 0.2);
$white-color: #ffffff;

