@import '../../src/stories/stylies.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.font{
    font-family: 'Nanum Gothic' ;
    font-optical-sizing: auto ;
    color:$secondary-color;

}
.inputfile{
  //  opacity: 0;
}
// .file-upload input[type="file"] {
//     position: absolute;
//     opacity: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
// }


