@import '../variables.scss';
.arooundDiv{
  .navbar{
    background-color: $primary-color  ;
    color: $secondary-color  ;
    // background-color: var(--mui-palette-background-paper);
    // color: var(--mui-palette-text-primary);
  }
  .logo{
      margin-right: 2 ;
      font-family: 'Nanum Gothic' ;
      color: rgb(103, 252, 210) ;
      // color: var(--mui-palette-text-primary);
      // color: $primary-color;
      text-decoration: none ;
  }
  .menu{
      display: 'block' ;
      math-depth: 'none'  ;
      // background-color: inherit; // השתמש בצבע המורשה מהרקע הכללי
  }
  .left-side-box{
      flex-grow: 1;
      display: flex;
      @media (min-width: 768px) {
        display: none;
      }
  }
  .middle-side-box{
      margin-left: 20vw;
        flex-grow: 1;
        display: none;
      }
      @media (min-width: 768px) {
        .middle-side-box {
          display: flex;
        }
  }
}